.buttonBasic {
  height: 50px;
  border: 0;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: #007298;
  padding: 0 45px;
  letter-spacing: 1px;
}