    /* .container__LoginPage {
        display: flex;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        background-color: #f7f7f7;
    }

    .loginForm {
        display: flex;
        flex-direction: column;
        width: 585px;
        height: 477px;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        border: 1px solid #cfcfcf;
        border-radius: 4px;
    }

    .loginForm label {
        min-width: 300px;
        font-family: sans-serif;
        font-weight: 700;
        font-style: bold;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0px;
        color: #333e48;
    }

    .loginForm input {
        width: 286px;
        height: 50px;
        border: 1px solid #cfcfcf;
        border-radius: 4px;
        padding-left: 10px;
        font-family: sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
    }

    .loginForm input::placeholder {
        color: rgba(0, 0, 0, 0.25)
    }

    .loginForm button {
        width: 300px;
        margin-right: 0px;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .loginForm p {
        font-family: sans-serif;
        font-weight: 400px;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0px;
        color: #333e48;
        margin: 0px;
    }

    .loginForm p b {
        font-weight: 700;
        margin: 0;
    }

    .loginForm .inputRequiredMessage {
        min-width: 300px;
        height: 20px;
        font-family: sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0px;
        color: #ff0000;
        margin-bottom: 30px;
        visibility: hidden;
    } */