.header {
  width: 1440px;
  height: 80px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.15);
}

.btn {
  height: 50px;
  border: 0;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: #007298;
  padding: 0 45px;
  margin-right: 25px;
  letter-spacing: 1px;
}

.header img {
  width: 111px;
  /* height: 36px; */
  margin: 5px;
  margin-left: 25px;
}

.cousreCard {
  width: 1122px;
  height: 240px;
  box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.25);
  border-left: 5px solid rgba(25, 25, 25, 0.75);;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 20px;
  margin: 25px auto;
}

.leftPart {
  padding: 20px;
}

.rightPart {
  padding: 20px;
}
