.appLayout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cousreCard {
  width: 1122px;
  height: 240px;
  box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.25);
  border-left: 5px solid rgba(25, 25, 25, 0.75);;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 6fr 4fr;
  gap: 20px;
  margin: 25px auto;
}

.leftPartCourseCard {
  padding: 20px;
}

.rightPartCourseCard {
  padding: 20px;
}

.authors {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.emptyCourse {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  justify-content: center;
  align-items: center;
}

.emptyCourse button {
  margin: 25px;
}

.emptyCourse p {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #333e48;
}

.containerInfo {
  margin-top: 30px;
}

.courseInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  padding: 32px 40px;
  background-color: #fff;
  max-width: 1120px;
}

.courseInfo__description h3 {
  margin: 0 0 16px;
  font-size: 20px;
  font-weight: 700;
  color: #333e48;
}

.courseInfo__description p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #333e48;
}

.courseInfo__meta {
  border-left: 1px solid #cfcfcf ;
  padding-left: 32px;
  display: flex;
  align-items: center;
}

.courseInfo__meta dl {
  margin: 0;
  display: grid;
  row-gap: 16px;
}

.courseInfo__meta dl > div {
  display: flex;
  align-items: baseline;
  column-gap: 12px;     
}

.courseInfo__meta dt {
  font-weight: 700;
  color: #333e48;
  margin: 0;
  min-width: 120px;
}

.courseInfo__meta dd {
  margin: 0;
  font-weight: 400;
  color: #616c76;
}

.backButtonCourseInfo {
  height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.backButtonCourseInfo button {
  margin-right: 0px;
  width: 185px;
}
