.appLayout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 1440px;
  height: 80px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.15);
}

.btn {
  height: 50px;
  border: 0;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: #007298;
  padding: 0 45px;
  margin-right: 25px;
  letter-spacing: 1px;
}

.header img {
  width: 111px;
  /* height: 36px; */
  margin: 5px;
  margin-left: 25px;
}

.cousreCard {
  width: 1122px;
  height: 240px;
  box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.25);
  border-left: 5px solid rgba(25, 25, 25, 0.75);;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 6fr 4fr;
  gap: 20px;
  margin: 25px auto;
}

.leftPart {
  padding: 20px;
}

.rightPart {
  padding: 20px;
}

.authors {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.emptyCourse {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  justify-content: center;
  align-items: center;
}

.emptyCourse button {
  margin: 25px;
}

.emptyCourse p {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #333e48;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 1122px;
  margin-top: 70px;
  margin-bottom: 30px;
}

.searchBar div {
  display: flex;
  gap: 20px;
}

.searchBar input {
  width: 400px;
  height: 50px;
  padding: 13px 16px;
  box-sizing: border-box;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.99)
}

.searchBar input::placeholder {
  color: rgba(0, 0, 0, 0.25)
}

.searchBar button {
  margin: 0;
}

.addNewCourse button {
  display: none;
}
